# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#config cache
.genJMRI main configuration

# Visual studio cache
*.vs

# Log files
*.log
/Server/Scripts/tz/tz.xml
